/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto:wght@500&display=swap');
/* body {
    padding: 60px 0;
} */

/* *HEADER */
.calendario-container {
    /* padding: 30px; */
    width: 100%;
    height: 100vh;
    /* margin: 30px; */
    /* outline: 2px solid blue; */
}

.titulo-container {
    /* outline: 2px solid red; */
    padding: 20px;
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 4rem;
    font-family: 'MonteCarlo', cursive;
}

/* *CALENDARIOS */
.calendarios {
    /* outline: 2px solid palevioletred; */
    width: 100%;
    height: 80vh;
    /* margin-top: 10px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.meses {
    /* outline: 2px solid purple; */
    width: 120px;
    height: 120px;
    margin: auto;
}

.superior {
    width: 120px;
    height: 30px;
    /* outline: 2px solid green; */
    background: rgb(247, 38, 55);
    /* border: 1px solid rgb(150, 2, 2); */
    /* box-shadow: 0px 0px 10px 10px rgb(150, 2, 2); */
    border-radius: 8px 8px 0 0;
    /*box-shadow: rgb(151, 17, 17) 0px 0px 10px -6px inset, rgb(150, 2, 2) 0px 0px 0px -6px inset; */

    box-shadow: rgba(204, 23, 23, 0.75) 3px 3px 6px 0px inset,
        rgba(204, 23, 23, 0.75) -3px -3px 6px 0px inset;
}

.superior::after {
    content: '';
    background: rgb(75, 74, 138);
    display: block;
    width: 5px;
    height: 22px;
    border-radius: 3px;
    transform: translate(35px);
    transform: translateY(-32px);
}

.superior::before {
    content: '';
    background: rgb(85, 85, 85);
    display: block;
    width: 5px;
    height: 22px;
    border-radius: 3px;
    transform: translate(75px);
}

.name_mes {
    /* outline: 1px solid indigo; */
    width: 120px;
    height: 100px;
    /* border: 1px solid rgb(80, 80, 80); */
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 1px 0 black;
    background: rgb(235, 235, 235);
    display: flex;
}

.name {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
/**MESES
/* container */
/* .calendario {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /*para centrar el container*/

/* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    border: 1px solid rgb(92, 92, 92);
} */

/* Mes */
/* .mes_name {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin: 20px auto;
    font-size: 4rem;
    word-spacing: 10px;
} */

/* nombres de los días */

/* .dias { */
/* outline: 2px solid blue; */
/* display: grid;
    color: #51565d;
    grid-template-columns: repeat(7, 1fr);
    height: 70px; */
/* grid-template-rows: repeat(1, 50px); */
/* place-items: center;
    border-bottom: 1px solid #a6a8b33a;
    border-top: 1px solid #a6a8b33a;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
} */

/* Días  */
/* .fecha {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 120px; /*las lineas que se crean implicitamente toman esa medida */
/*} */

/* .fecha_dias {
    font-family: 'Heebo', sans-serif;
    font-size: 1.5;
    border-bottom: 1px solid #a6a8b33a;
    border-right: 1px solid #a6a8b33a;
    font-family: 'Heebo', sans-serif;
    padding: 14px 20px;
    color: #51565d;
}

@media screen and (max-width: 500px) {
    .calendario {
        width: 94%;
    }
    .fecha_dias {
        padding: 7px 5px;
        text-align: center;
    }
} */
